body {
    font-family: 'Inter', sans-serif; 
    background-color: #f3f4f6; 
    margin: 40 40 40 40;
    padding: 0;
}

#app-container {
    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;
}
.text-highlight {
    color: #4c2885; 
    font-weight: bold;
}

.card-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.card-shadow:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}